/target
/project/target
/project/project
*/*.cache
*/*.lib
*/*.db
*/*.log
*.iml
*.ipr
*.iws
*.swp

.cache-main
.project
.classpath
.buildpath
.settings
.idea
*/bin

*/*.DS_Store
application.properties
src/main/resources/nametestv1*
